body {
  background-color: #f7f7f7;
}

.site-content {
  padding-top: 10vh; 
  width: 80%; 
  margin-left: 10%;
  /* margin-bottom: 30px; */
}

.media { 
  margin-bottom: 10%;
}

header {
  left: 0;
  position: fixed; 
}

nav {
  background: #335577;
  width: 100vw;
}

img {
  width: 30%; 
}

#cutekitten {
  margin-top: 10%; 
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  background: #335577;
  height: 10vh;
  margin-top: 30px;
} */

body {
  height: 100vh; 
}

#buttonbutton { 
  margin-bottom: 10%; 
}

/* color scheme: 
  Prussian Blue: #003355
  B'Dazzled Blue: #335577
  Inchworm (green): #BBEE55
  Pastel Gray: #CBCBCB
  White Smoke: #F7F7F7
   */

