.site {
  display: flex; 
  min-height: 100vh;
  flex-direction: column;
  background-color: #cbcbcb;
}

.site-content {
  flex: 1;
}

nav {
  background: #003355;
}

.navbar-brand, .nav-item {
  color: #cbcbcb;
}

img {
  width: 30%
}

footer {
  display: flex;
  align-items: flex-end;
  background: #003355;
  height: 10vh;
  width: 100vw:
}

/* color scheme: 
  Prussian Blue: #003355
  B'Dazzled Blue: #335577
  Inchworm (green): #BBEE55
  Pastel Gray: #CBCBCB
  White Smoke: #F7F7F7
   */